h1{color: aqua;
    background-color: darkmagenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position: center;
}

p{color: blue;
position: center;
}

a{color: darkmagenta;
font-size: x-large;
}